.button{
    font-size: 20px;
    width: 200px;
    height: 60px;
    color: #fff;
    display: block;
    margin-top: 20px
}

.button--default{
    background-color: #7fb8ff;
}

.button--create{
    background-color: #68ff81;
}

.button--delete{
    background-color: #ff335e;
}

.button--disabled{
    background-color: #b5b5b5;
}